.footer.margin-top
    .container
        .row
            div
                .footer-inner
                    .footer-content
                        ul.social-media
                            li
                                a(href='https://www.facebook.com/w3cdpmori', target='_blank')
                                    i.iconmoon-facebook
                            li
                                a(href='https://twitter.com/w3cdp6084w3cdp', target='_blank')
                                    i.iconmoon-twitter
                            li
                                a(href='https://github.com/w3cdp6084-dev', target='_blank')
                                    i.iconmoon-github
                        span.copyright-mark W3CDP PRODUCT.
