meta(charset='utf-8')
title W3CDP PRODUCTS
meta(name='description', content='')
meta(name='msapplication-tap-highlight', content='yes')
meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0')
link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,800%7CMukta:400,500,600,800', rel='stylesheet')
link(rel='stylesheet', href='css/bootstrap.css')
link(rel='stylesheet', href='css/animate.css')
link(rel='stylesheet', href='css/pe-icon-7-stroke.css')
link(rel='stylesheet', href='css/iconmoon.css')
link(rel='stylesheet', href='css/et-line.css')
link(rel='stylesheet', href='css/ionicons.css')
link(rel='stylesheet', href='css/magnific-popup.css')
link(rel='stylesheet', href='css/loader-1.css')
link(rel='stylesheet', href='css/main.css')
link(rel='stylesheet', href='css/responsive.css')
link(rel='icon', type='image/ico', href='favicon.ico')