header.header
    .header__inner
        .header__inner__wrap
            h1.header__title
                a(href="https://google.com" target="blank")
                    img(src="https://placehold.jp/132x35.png")
            .header__sp
                .header__sp__inner
                    nav
                        ul
                            li
                                a(href="#") Top
                            li
                                a(href="#") About
                            li
                                a(href="#") Skill
                            li
                                a(href="#") Works
                            li
                                a(href="#") SNS
                            li
                                a(href="#") Blog
                            li
                                a(href="#") Contact