section
    h1.aside-title
        span.aside-title__text design develop
    .works-aside.works-aside--home
        .works-aside__title
            .works-aside__title-overlay
            span.works-aside__title-name App MELPY ios/android
        .works-background
            .works-counter
                .works-counter__overlay
                span.works-counter__current 01
                span.works-counter__separator
                span.works-counter__total 100
            .works
                ul.works__list
                    li.work.work__ladybug
                        a(href="#")
                            .work__background-title-container
                                h3.work__background-title
                                    div L
                                    div A
                                    div D
                                    div Y
                                    div B
                                    div U
                                    div G
                            .work__main-img-container
                                .work__main-img-move-box
                                    img(src="https://placehold.jp/1044x731.png")