.menu-wrap
    .menu-content
        .navigation
            span#close-button.pe-7s-close.close-menu
        nav.menu
            .menu-list
                ul
                    li.menu-item-has-children
                        a(href='index.html') Home
                    li
                        a(href='about.html') About
                    li.menu-item-has-children
                        a(href='#works') works
                    li.menu-item-has-children
                        a(href='https://w3cdp.netlify.com/') Blog
        .hidden-xs
            .menu-social-media
                ul
                    li
                        a(href='https://www.facebook.com/w3cdpmori', target='_blank')
                            i.iconmoon-facebook
                    li
                        a(href='https://twitter.com/w3cdp6084w3cdp', target='_blank')
                            i.iconmoon-twitter
                    li
                        a(href='https://github.com/w3cdp6084-dev', target='_blank')
                            i.iconmoon-github
