doctype html
html(lang="ja")
    head
        include parts/_head
body
    .cover
    .top-title
        h1.Name
            span.Name-part.H w
            span.Name-part.O 3
            span.Name-part.PEFOUND cdp.
        button#open-button.main-menu-indicator
            span.line
        span.scroll-btn.wow.fadeInUp(data-wow-duration='1s', data-wow-delay='1.4s')
            .arrow.bounce
        include parts/_nav
    .container.margin-top
        .main-title
            h1#works WORKS.
            hr
        .portfolio-wrapper
            .js-masonry
                #work-grid.row
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        #work-jump.img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_01.png', alt='MELPY')
                            .overlay-thumb
                                .details
                                    span.title MELPY.
                                    span.info Service works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_01.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_09.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title KAKAKU.COM.
                                    span.info Service works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_02.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_08.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title GAMES.
                                    span.info Service works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_12.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_01.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title MARUMIYA.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_03.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_02.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title ORIX.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_04.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.graphic
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_03.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title Don Quijote.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_05.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_04.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title Take and Give Needs.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_06.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_04.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title TABROOM.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_07.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_05.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title SEGA.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_08.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_06.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title B&O.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_09.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_07.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title JHC.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_10.html')
                    .col-md-4.col-sm-4.col-xs-12.mix.branding
                        .img.home-portfolio-image
                            img(src='img/works/contents/thumbnail/grid_02.png', alt='Portfolio Item')
                            .overlay-thumb
                                .details
                                    span.title ORICON.
                                    span.info Client works.
                                span.btnBefore
                                span.btnAfter
                                a.main-portfolio-link(href='html/works_11.html')
    include parts/_footer
    include parts/_script